nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"], form input[type="password"], form select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: black;
}
.container{
    padding-top: 50px;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
}  

.center {
    display: block;
    margin-left: 85px;
    margin-right: auto;
    height:400px;
    width:910px;
}

.blue {
    color: blue;
}
